iframe {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

#controls {
    color: #fff;
    font-family: 'Helvetica Neueu', sans-serif;
    background-color: #555555;
    position: absolute;
    width: 100%;
    z-index: 9999;
    padding: 5px;
}

.hide, .show {
    background-color: #555555;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: hand;
    cursor: pointer;
}

#controls h1,form {
    display: inline-block;
}

#controls form {
    vertical-align: text-bottom;
}

#controls h1 {
    font-style: italic;
    margin: 0px 20px 0px 0px;
}

#controls form button, input {
    height: 25px;
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
    padding: 0px 5px;
}

.active, .ondeck {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.active {
    background-color: white;
}

.ondeck {
    z-index: -1;
}

/* spotlight */
.spotlight {
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 100%;
}

/* vortex */
.vortex-core, .vortex, .vortex-row {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin: auto;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    top: 50%; left: 50%;
}

.vortex, .vortex-core {
    border-radius: 100%;
}

@mixin vortex-loop($num, $offset) {
    @for $i from 1 through $num {
        .vortex:nth-child(#{$i}) {
            -webkit-transform: translate($offset,  0) rotate(($i - 1) * (360deg/$num));
            -webkit-transform-origin: -$offset 0;
        }
    }
}

.vortex {
    width: 200px;
    height: 200px;
}


@for $i from 1 through 4 {
    $j: $i - 1;
    span.vortex-row:nth-of-type(#{$i}) {
        height: auto;
        @include vortex-loop(($i + 1) * 2, 105px + (215px * $j))
    }
}

//Pan left

.panLeft {
    -webkit-animation: panLeft 10s infinite linear;
    animation: panLeft 10s infinite linear;
    background-repeat: horizontal;
    background-position: 0 0;
}

@keyframes panLeft {
    to {background-position: -100% 0;}
}

@-webkit-keyframes panLeft {
    to {background-position: -100%;}
}

/* Pan right */
.panRight {
    -webkit-animation: panRight 10s infinite linear;
    animation: panRight 10s infinite linear;
    background-repeat: horizontal;
    background-position: 0 0;
}
@keyframes panRight {
    to {background-position: 100% 0;}
}

@-webkit-keyframes panRight {
    to {background-position: 100%;}
}